<!DOCTYPE html>
<html>
<head>
  <title>MamadataRails4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul style="list-style-type: none;">
	<li style="padding: 10px; display:inline-block;"><%= link_to 'Community Developments', community_developments_path %></li>
	<li style="padding: 10px; display:inline-block;"><%= link_to 'Beneficiaries', beneficiaries_path %></li>
	<li style="padding: 10px; display:inline-block;"><%= link_to 'Roles', roles_path %></li>
	<li style="padding: 10px; display:inline-block;"><%= link_to 'People', people_path %></li>
	<li style="padding: 10px; display:inline-block;"><%= link_to 'Supporters', supporters_path %></li>
	<li style="padding: 10px; display:inline-block;"><%= link_to 'New Incident', new_benefit_incident_path %></li>
</ul>
<%= yield %>

</body>
</html>
