<h1 class="text-center">Roles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to (content_tag(:i, '', :class => 'icon-file')), role %>
        <%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_role_path(role) %>
        <%= link_to (content_tag(:i, '', :class => 'icon-trash')), role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_role_path, :class => 'btn btn-primary' do %>
  <%= (content_tag(:i, '', :class => 'icon-pencil')) %>
  New Role
<% end %>
