<div id="side">
	<ul class="no-bullet" id="side-nav">

		<% people = 	(controller_name == "people") ? "active" : "" %>
		<% family = 	(controller_name == "families") ? "active" : "" %>
		<% supporter = 	(controller_name == "supporters") ? "active" : "" %>
		<% users = 		(controller_name == "users") ? "active" : "" %>
		
		<li class="<%= family %>">		<%= link_to 'Family Overview', families_path %></li>
		<li class="<%= people %>">		<%= link_to 'Beneficiary Overview', people_path %></li>
        <li class="<%= supporter %>">	<%= link_to 'Supporters Overview', supporters_path %></li>
		<% if can? :manage, User %>
        <li class="<%= users %>">		<%= link_to 'Staff/User Overview', users_path %></li>
        <% end %>
    </ul>
</div>