<div id="side">
	<ul class="no-bullet" id="side-nav">

		<% people = 	(controller_name == "people") ? "active" : "" %>
		<% family = 	(controller_name == "families") ? "active" : "" %>
		<% supporter = 	(controller_name == "supporters") ? "active" : "" %>
		<% users = 		(controller_name == "users") ? "active" : "" %>

        <% if can? :read, Family %>
		<li class="<%= family %>">		<%= link_to simple_format('Family <br> Overview', {}, wrapper_tag: "div"), families_path %></li>
        <% end %>
        <% if can? :read, Person %>
		<li class="<%= people %>">		<%= link_to 'Beneficiary Overview', people_path %></li>
        <% end %>
        <% if can? :read, Supporter %>
		<li class="<%= supporter %>">	<%= link_to 'Supporters Overview', supporters_path %></li>
        <% end %>
		<% if can? :read, User %>
		<li class="<%= users %>">		<%= link_to 'Staff/User Overview', users_path %></li>
		<% end %>
	</ul>
</div>