<p id="notice"><%= notice %></p>

<p>
  <strong>Beneficiary:</strong>
  <%= @ben_family_member.beneficiary %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @ben_family_member.relation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ben_family_member.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ben_family_member.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @ben_family_member.surname %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @ben_family_member.date_of_birth %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @ben_family_member.profession %>
</p>

<p>
  <strong>Income:</strong>
  <%= @ben_family_member.income %>
</p>

<%= link_to 'Edit', edit_ben_family_member_path(@ben_family_member) %> |
<%= link_to 'Back', ben_family_members_path %>
