<%= form_for(@benefit_incident) do |f| %>
  <% if @benefit_incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benefit_incident.errors.count, "error") %> prohibited this benefit_incident from being saved:</h2>

      <ul>
      <% @benefit_incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span3"><%= f.label :person_id %></div>
    <div class="span9"><%= f.text_field :person_id, @person.name %></div>
  </div>
      <div class="field">
    <div class="span3"><%= f.label :program_id %></div>
    <div class="span9"><%= f.select :program_id, Program.all.map{|program| [program.name, program.id]} %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :benefit_id %></div>
    <div class="span9" id="benefit_select"><%= f.select :benefit_id, []%></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :amount %></div>
    <div class="span9"><%= f.number_field :amount %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :remark %></div>
    <div class="span9"><%= f.text_field :remark%></div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
