<%= form_for(@benefit_incident) do |f| %>
  <% if @benefit_incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benefit_incident.errors.count, "error") %> prohibited this benefit_incident from being saved:</h2>

      <ul>
      <% @benefit_incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.select :person_id, Person.all.map{|person| [person.name, person.id]}  %>
  </div>
      <div class="field">
    <%= f.label :program_id %><br>
    <%= f.select :program_id, Program.all.map{|program| [program.name, program.id]}  %>
  </div>
    </div>
      <div class="field">
    <%= f.label :benefit_id %><br>
    <%= f.select :benefit_id, Benefit.all.map{|benefit| [benefit.name, benefit.id]}  %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
