<%= form_for(@benefit_incident) do |f| %>
  <% if @benefit_incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benefit_incident.errors.count, "error") %> prohibited this benefit_incident from being saved:</h2>

      <ul>
      <% @benefit_incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.select :person_id, Person.all.map{|person| [person.name, person.id]}  %>
  </div>


    <div class="field">
    <%= f.label :program_id %><br>
    <%= f.select(:program_id, @programs.map{|program| [program.name, program.id]}, include_blank: true )  %>
  </div>

    <div class="field">
    <%= f.label :benefit_id %><br>
    <%= f.select(:benefit_id, @benefits.map {|benefit| [benefit.name, benefit.id]}, include_blank: true )  %>
  </div>
      <div class="field">
    <%= f.label :program_benefit_relationship_id %><br>
    <%= f.number_field :program_benefit_relationship_id  %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
        <div>
    <%  @benefits.map {|lame| [lame.name, ProgramBenefitRelationship.find_by(benefit_id: lame.id)]}.each do |output| %>
   
    <% if (output[1] != nil) %>
    <li> <%= output[0] %> "--->" <%=output[1].id%> </li>
    <% end %>
    <% end %>
  </div>