<%= form_for(@benefit_incident) do |f| %>
  <% if @benefit_incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benefit_incident.errors.count, "error") %> prohibited this benefit_incident from being saved:</h2>

      <ul>
      <% @benefit_incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Person: <%=@benefit_incident.person.name %></h2>
  <div class="field">
    <div class="span9"><%= f.hidden_field :person_id, value: @benefit_incident.person_id %></div>
  </div>






    <div class="field">
    <div class="span9"><%= f.hidden_field :date_granted, value: @benefit_incident.date_granted %></div>
  </div>
      <div class="field">
      <div class="actions">
      <%= link_to 'Add Person to Program', edit_person_path(@benefit_incident.person_id), :class => 'button [tiny small large]' %></div>
    <div class="span3"><%= f.label :program_id %></div>
    <div class="span9"><%= f.select :program_id, Program.all.map{|program| [program.name, program.id]}%></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :benefit_id %></div>
    <div class="span9" id="benefit_select"><%= f.select :benefit_id, []%></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :amount %></div>
    <div class="span9"><%= f.number_field :amount %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :remark %></div>
    <div class="span9"><%= f.text_field :remark%></div>
  </div>

    <% if is_admin? %>
    <div class="field">
    <div class="span3"><%= f.label :status %></div>
      <div class="span9"><%= f.select :status, [['Granted',true],['Pending', false]] %></div>
    </div>
  <% else %>
    <div class="field">
      <div class="span9"><%= f.hidden_field :status, value: @benefit_incident.status %></div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
  var data = <%= @data.to_json.html_safe %>;
  var programsOfPerson = <%= @programs_for_user.to_json.html_safe %>;
  var allPrograms = <%= @all_programs.to_json.html_safe %>;
  $('#benefit_incident_program_id').empty();
  $.each(programsOfPerson, function( value) {   
     $('#benefit_incident_program_id')
         .append($("<option></option>")
         .attr("value",value)
         .text(allPrograms[value]));
});

var initialProgram = $('#benefit_incident_program_id').val();
$.each(data[initialProgram], function(key, value) {   
     $('#benefit_incident_benefit_id')
         .append($("<option></option>")
         .attr("value",value.id)
         .text(value.name));
});


$('#benefit_incident_program_id').on('change', function(){
  $('#benefit_incident_benefit_id').empty();
  var benefitsOfSelectedProgram = data[this.value];

$.each(benefitsOfSelectedProgram, function(key, value) {   
     $('#benefit_incident_benefit_id')
         .append($("<option></option>")
         .attr("value",value.id)
         .text(value.name));
});

  });
</script>
