<%= content_for :js do %><%= javascript_include_tag "benefit_incidents" %> <% end %>
<%= form_for(@benefit_incident) do |f| %>
<% if @benefit_incident.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@benefit_incident.errors.count, "error") %> prohibited this benefit_incident from being saved:</h2>

  <ul>
    <% @benefit_incident.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<h2 class="text-center">Person: <%=@benefit_incident.person.name %></h2>

  <div class="button-center">
    <%= link_to 'Add Person to Program', edit_person_path(@benefit_incident.person_id), :class => 'button small' %></div>
    <% if !@benefit_incident.person.programs.empty?%>
<div class="row">
  <div class="small-12 large-12 columns"><%= f.hidden_field :person_id, value: @benefit_incident.person_id %></div>
</div>

<div class="row">
  <div class="small-12 large-12 columns"><%= f.hidden_field :date_granted, value: @benefit_incident.date_granted %></div>
</div>
<div class="row">

    <div class="small-12 large-3 columns"><%= f.label :program_id %></div>
    <div class="small-12 large-9 columns"><%= f.select :program_id, @person.programs.map{|program| [program.name, program.id]}%></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :benefit_id %></div>
    <div class="small-12 large-9 columns" id="benefit_select"><%= f.select :benefit_id, []%></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns" id="amountlabel"><%= f.label :amount %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :amount %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :remark %></div>
    <div class="small-12 large-9 columns"><%= f.text_area :remark %></div>
  </div>
  <div>
 
  <% if is_admin? %>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :status %></div>
    <% if @benefit_incident.status %>
      <div class="small-12 large-9 columns"><%= f.select :status, [['Granted',true],['Pending', false]], :selected =>  ['Granted', true] %></div>
    <% else %>
      <div class="small-12 large-9 columns"><%= f.select :status, [['Granted',true],['Pending', false]], :selected =>  ['Pending', false] %></div>
    <% end %>
  </div>
  <% else %>
  <div class="row">
    <div class="small-12 large-9 columns"><%= f.hidden_field :status, value: @benefit_incident.status %></div>
  </div>
  <% end %>

  <div class="button-center">
    <%= f.submit :class => 'button' %>
  </div>
  <% end %>
<%end%>

   <script>

  var data = <%= @data.to_json.html_safe %>;
  var programsOfPerson = <%= @programs_for_user.to_json.html_safe %>;
  var allPrograms = <%= @all_programs.to_json.html_safe %>;
  var allBenefits = <%= @all_benefits.to_json.html_safe %>;
  var benefits_calculated =<%= @benefits_with_calculated_amount.to_json.html_safe %>;
  var benefits_fixed =<%= @benefits_with_fixed_amount.to_json.html_safe %>;

 </script>
