<%= content_for :js do %><%= javascript_include_tag "incidents_index" %> <% end %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1>Incidents <small>(<%= @benefit_incidents.count %>)</small></h1>
<div class="small-12">
        <div class="button-bar">
            <ul class="button-group">
                <li><%= select_tag(:incident_status, options_for_select([['Show All', nil], ['Show Pending', "false"], ['Show Granted', "true"]])) %></li>
                <li>
                    <% if can? :grant, BenefitIncident %>
                    <a href='#' id="setgrantedbtn" class="button custom-postfix-class">Set Granted</a>
                    <% end %>
                </li>
                <li><a href='#' id='calculatebtn' class="button custom-postfix-class">Calcualte</a></li>
            </ul>
            <ul class="button-group right">
                <li><a href='#' id='filter_date' class="button custom-prefix-class">Filter by Date</a></li>
                <li><input type="text" class="datepicker" id="benefit_incident_date_from" placeholder="from:"></li>
                <li><input type="text" class="datepicker" id="benefit_incident_date_to" placeholder="to:"></li>
            </ul>
        </div>
    </div>

<div id="calculated_amount" style="display:none"></div>
<%= render "shared/reporting" %>
<div class="clearfix"></div>
<div id="incidents">
    <%= render "/benefit_incidents/list"%>
</div>
<script type="text/javascript">
var action = '<%= action_name %>';
</script>