<h1>Listing benefit_incidents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Program</th>
      <th>Benefit</th>
      <th>Amount</th>
      <th>Remark</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @benefit_incidents.each do |benefit_incident| %>
      <tr>
        <td><%= benefit_incident.person.name %></td>
        <td><%= benefit_incident.program.name %></td>
        <td><%= benefit_incident.benefit.name %></td>
        <td><%= benefit_incident.amount %></td>
        <td><%= benefit_incident.remark %></td>
        <td><%= link_to 'Show', benefit_incident %></td>
        <td><%= link_to 'Edit', edit_benefit_incident_path(benefit_incident) %></td>
        <td><%= link_to 'Destroy', benefit_incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Benefit incident', new_benefit_incident_path %>
