<%= render '/shared/overview_sidebar' %>
<div id="content">
    <%= content_for :js do %><%= javascript_include_tag "incidents_index" %> <% end %>
    <h1>Listing Incidents</h1>
    <div class="row">
    <div class="small-12 column">

        <div class="button-bar">
          <ul class="button-group">
          <li><%= select_tag(:incident_status, options_for_select([['Show All', nil], ['Show Pending', "false"], ['Show Granted', "true"]])) %></li>
            <li>
            <% if is_admin? %>
              <a href='#' id="setgrantedbtn" class="button custom-postfix-class">Set Granted</a>
            <% end %>
            </li>
            <li><a href='#' id='calculatebtn' class="button custom-postfix-class">Calcualte</a></li>

          </ul>
            <ul class="button-group right">
              <li><a href='#' id='filter_date' class="button custom-prefix-class">Filter by Date</a></li> 
              <li><input type="text" id="benefit_incident_date_from" placeholder="from:"></li>
              <li><input type="text" id="benefit_incident_date_to" placeholder="to:"></li>

            </ul>
        </div>
    </div>
</div>
    <div id="calculated_amount" style="display:none"></div>
    

    <div id="incidents">
        <%= render "/benefit_incidents/list"%>
    </div>

    <script type="text/javascript">
        var action = '<%= action_name %>';
    </script>
</div>