<h1 class="text-center">Listing Incidents</h1>
<div class="row">
	<table id="benefitIndexTable" class="table tablesorter">
		<thead>
			<tr>
				<th>User</th>
				<th>Program</th>
				<th>Benefit</th>
				<th>Amount</th>
				<th>Remark</th>
				<th>Status</th>
				<th>Date Granted</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @benefit_incidents.each do |benefit_incident| %>
			<tr data-link="<%= benefit_incident_path(benefit_incident) %>">
				<td><%= benefit_incident.person.name %></td>
				<td><%= benefit_incident.program.name %></td>
				<td><%= benefit_incident.benefit.name %></td>
				<td><%= money_without_cents_and_with_symbol benefit_incident.amount %></td>
				<td><%= benefit_incident.remark %></td>
				<td><%= benefit_incident.status == true ? 'Granted' : 'Pending' %></td>
				<td><%= benefit_incident.date_granted %></td>
				<td style="width:130px;">
					<%= link_to (content_tag(:i, '', :class => 'button tiny icon-edit')), edit_benefit_incident_path(benefit_incident) %>
					<%= link_to (content_tag(:i, '', :class => 'button tiny icon-trash')), benefit_incident, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

