<h1 class="text-center">Listing Incidents</h1>


<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Program</th>
      <th>Benefit</th>
      <th>Amount</th>
      <th>Remark</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @benefit_incidents.each do |benefit_incident| %>
      <tr>
        <td><%= benefit_incident.person.name %></td>
        <td><%= benefit_incident.program.name %></td>
        <td><%= benefit_incident.benefit.name %></td>
        <td><%= benefit_incident.amount %></td>
        <td><%= benefit_incident.remark %></td>
        <td><%= link_to 'Show', benefit_incident %>
        <%= link_to 'Edit', edit_benefit_incident_path(benefit_incident) %>
        <%= link_to 'Delete', benefit_incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
