<h1 class="text-center">New Incident</h1>

<%= render 'form' %>

<div class="button-center">
	<%= link_to 'Back', benefit_incidents_list_path(@benefit_incident.person_id), :class => "button tiny" %>
</div>

   <script>

  var data = <%= @data.to_json.html_safe %>;
  var programsOfPerson = <%= @programs_for_user.to_json.html_safe %>;
  var allPrograms = <%= @all_programs.to_json.html_safe %>;
  var benefits_calculated =<%= @benefits_with_calculated_amount.to_json.html_safe %>;

 </script>