<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<table class="table">
	<tr>
		<td><b>User:</b></td>
		<td><%= @benefit_incident.person.name %></td>
	</tr>
	<tr>
		<td><b>Amount:</b></td>
		<td><%= number_to_indian_currency(@benefit_incident.amount).html_safe %></td>
	</tr>
	<tr>
		<td><b>Program:</b></td>
		<td><%= @benefit_incident.program.name %></td>
	</tr>
	<tr>
		<td><b>Benefit:</b></td>
		<td><%= @benefit_incident.benefit.name %></td>
	</tr>
	<tr>
		<td><b>Remark:</b></td>
		<td><%= simple_format(@benefit_incident.remark) %></td>
	</tr>
	<tr>
		<td><b>Status:</b></td>
		<td><%= @benefit_incident.status == true ? 'Granted' : 'Pending' %></td>
	</tr>
</table>
<div class="button-center">
	<%= link_to 'Back to Beneficiary', person_path(@benefit_incident.person, anchor: "panel2-4"), :class => "button" %>
</div>
