<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span3"><%= f.label :name %></div>
    <div class="span9"><%= f.text_field :name %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :description %></div>
    <div class="span9"><%= f.text_field :description %></div>
    </div>
 <div class="field">
    <div class="span3"><%= f.label :benefit_ids %></div>
    <div class="span9"><%= f.select :benefit_ids, Benefit.all.collect {|x| [x.name, x.id]},{}, multiple: true %> 
    </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
