<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span3"><%= f.label :name %></div>
    <div class="span9"><%= f.text_field :name %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :description %></div>
    <div class="span9"><%= f.text_field :description %></div>
  </div>


  <% for benefit in @program.benefits %>
  <%= fields_for "program[benefit_attributes][]", benefit do |builder| %>
  <%= builder.label :benefit_id %>
  <%= builder.select :id, (Benefit.all.map {|benefit| [benefit.name, benefit.id]}) %><br>
  <% end %>
>>>>>>> added better errors to Gemfile. possible to add benefits upon creation
  <% end %>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
