<%= form_for(@program) do |f| %>
<% if @program.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

  <ul>
    <% @program.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
    <div class="small-12 medium-6 medium-centered column">
        <div class="row">
          <div class="small-12 large-3 columns"><%= f.label "Name"%></div>
          <div class="small-12 large-9 columns"><%= f.text_field :name %></div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns"><%= f.label "Description" %></div>
          <div class="small-12 large-9 columns"><%= f.text_field :description %></div>
        </div>
    </div>
</div>

<h2 class="text-center">
<div class="small-3 left">
<input type="text" id="searchbenefit" placeholder="Filter Benefits">
</div>
Benefits
</h2>

<div class="row">
  <span class="ul">

    <% Benefit.all.order('name').each_slice(12) do |slice| %>
    <div class="small-12 large-12 columns">
      <% slice.each do |b| %>
      <label class="small-12 medium-6 large-4 column"><%= check_box_tag :benefit_ids, b.id, @program.benefits.include?(b), :name => 'program[benefit_ids][]' %> <%= b.name %></label>
      <% end %>
    </div>

    <% end %>

  </span>
</div>

<div class="button-center">
  <%= f.submit :class => 'button' %>
</div>
<% end %>
