<%= form_for(@program) do |f| %>
<% if @program.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

  <ul>
    <% @program.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
    <div class="small-12 medium-6 medium-centered column">
        <div class="row">
          <div class="small-12 large-3 columns"><%= f.label "Name"%></div>
          <div class="small-12 large-9 columns"><%= f.text_field :name %></div>
        </div>
        <div class="row">
          <div class="small-12 large-3 columns"><%= f.label "Description" %></div>
          <div class="small-12 large-9 columns"><%= f.text_field :description %></div>
        </div>
    </div>
</div>

<h2>
Available Benefits 
</h2>
  <div class="row">
    <table id="benefitsIndexTable" class="table tablesorter">
      <thead>
        <tr>
        <td><%= check_box_tag :checked_benefit,'#', false, id: 'chkall' %></td>
          <th>Name</th>
          <th>Description</th>
          <th>Amount Spent this Year</th>
          <th>Benefit Type</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% Benefit.all.order(created_at: :desc).each do |benefit| %>
        <tr>
        <td><%= check_box_tag :benefit_ids, benefit.id, @program.benefits.include?(benefit), :name => 'program[benefit_ids][]' %></td>
          <td><%= benefit.name %></td>
          <td><%= benefit.description %></td>
          <td><%= number_to_indian_currency(benefit.get_amount_year_to_date).html_safe %></td>
          <td><%= benefit.get_category %></td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<div class="button-center">
  <%= f.submit :class => 'button' %>
</div>
<% end %>
