<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<h1>Programs <small>(<%= @programs.count %>)</small></h1>
<table id="programsIndexTable" class="table tablesorter">
	<thead>
		<tr>
            <td style="text-align: center;"><%= check_box_tag :checkall,'#', false, id: 'chkall' %></td>
			<th>Name</th>
			<th>Description</th>
			<th>Amount Spent this Year</th>
			<th>Created At</th>
            <% if can? :edit, Program %>
			<td></td>
            <% end %>
		</tr>
	</thead>

	<tbody>
		<% @programs.each do |program| %>
		<tr data-link="<%= program_path(program) %>">
            <td style="text-align: center"><%= check_box_tag "ids[]", program.id, false, class: 'chk' %></td>
			<td><%= program.name %></td>
			<td><%= program.description %></td>
			<td><%= number_to_indian_currency(program.get_amount_year_to_date).html_safe %></td>
			<td><%= l program.created_at.to_date %></td>
            <% if can? :edit, Program %>
			<td style="width: 130px;">
				<%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_program_path(program) %>
				<% if can? :destroy, Program %>
					<%= link_to (content_tag(:i, '', :class => 'icon-trash')), program, method: :delete, data: { confirm: 'Are you sure you want to delete this Program?' } %>
				<% end %>
			</td>
            <% end %>
		</tr>
		<% end %>
	</tbody>
</table>
