<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<h1>Programs <small>(<%= @programs.count %>)</small>
    <div class="small-12 medium-5 right">
        <div class="button-bar exportBar">
            <ul class="button-group right">
                <li>
                    <%= select_tag :report_mode, options_for_select([["Report", report_programs_path]]), :style => "display: none; width: 100px; float:left;"  %>
                </li>
                <li>
                    <div><label for="">&nbsp;</label></div>
                    <a href='' id="exportBtn" class="custom-postfix-class button no-overlay" style="width: 150px; float:left;">Create Report</a>
                </li>
            </ul>
        </div>
    </div>
</h1>



<%= form_tag '', method: :get, id: 'exportForm', class: 'no-overlay' do  %>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <table id="programsIndexTable" class="table tablesorter">
	<thead>
		<tr>
            <td style="text-align: center;"><%= check_box_tag :checkall,'#', false, id: 'chkall' %></td>
			<th>Name</th>
			<th>Description</th>
			<th>Amount Spent this Year</th>
			<th>Created At</th>
            <% if can? :edit, Program %>
			<td></td>
            <% end %>
		</tr>
	</thead>

	<tbody>
		<% @programs.each do |program| %>
		<tr data-link="<%= program_path(program) %>">
            <td style="text-align: center"><%= check_box_tag "ids[]", program.id, false, class: 'chk' %></td>
			<td><%= program.name %></td>
			<td><%= program.description %></td>
			<td><%= number_to_indian_currency(program.get_amount_year_to_date).html_safe %></td>
			<td><%= l program.created_at.to_date %></td>
            <% if can? :edit, Program %>
			<td style="width: 130px;">
				<%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_program_path(program) %>
				<% if can? :destroy, Program %>
					<%= link_to (content_tag(:i, '', :class => 'icon-trash')), program, method: :delete, data: { confirm: 'Are you sure you want to delete this Program?' } %>
				<% end %>
			</td>
            <% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>