<%= render '/shared/overview_sidebar' %>
<div id="content">
	<h1 class="text-center">Programs</h1>
	<table id="programsIndexTable" class="table tablesorter">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<td>Total Amount Spent On</td>
				<td></td>
			</tr>
		</thead>

		<tbody>
			<% @programs.each do |program| %>
			<tr data-link="<%= program_path(program) %>">
				<td><%= program.name %></td>
				<td><%= program.description %></td>
				<td><%= number_to_indian_currency(program.get_total_amount).html_safe %></td>
				<td style="width: 130px;">
					<%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_program_path(program) %>
					<% if is_admin? %>
						<%= link_to (content_tag(:i, '', :class => 'icon-trash')), program, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>