<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h2 style="margin: 0px;"><%= @program.name %></h2>
<h5 style="margin: 0px;"><%= @program.description %></h5>
<p style="background-color: #F5F5F5; padding: 10px;"></p>
<table class="table">
	<tr>
		<td><b>Year to Date:</b></td>
		<td></td>
	</tr>
	<tr>
		<td>Pending:</td>
		<td><%= number_to_indian_currency(@program.get_amount_year_to_date(false)).html_safe %></td>
	</tr>
	<tr>
		<td>Granted:</td>
		<td><%= number_to_indian_currency(@program.get_amount_year_to_date).html_safe %></td>
	</tr>
</table>
<h5>Benefits Assigned to Program </h5>
	<% @program.benefits.each do |benefit|  %>
		<%= link_to benefit.name, benefit_path(benefit), class:  "label button" %>
	<% end %>
	<p>&nbsp;</p>

<h3>Participating Beneficiaries (<%= @program.people.count %>) </h3>
<table id="peopleIndexTable" class="responsive tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Fathers name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>City/Village</th>
			<th>In Program Since</th>
			<th>Excluded from Program On</th>
		</tr>
	</thead>
	<tbody>
		<% @program_participants.each do |participant| %>
		<% @person = Person.find(participant.person_id) %>
		<tr data-link="<%= person_path(@person) %>">
			<td><%= @person.name %></a></td>
			<td><%= @person.fathers_name %></td>
			<td><%= (Date.today.year - @person.date_of_birth.year) %></td>
			<td><%= @person.gender %></td>
			<td><%= @person.city %></td>
			<td><%= l participant.created_at.to_date unless participant.created_at.nil? %></td>
			<td><%= l participant.deleted_at.to_date unless participant.deleted_at.nil?%></td>
		</tr>
		<% end %>
	</tbody>
</table>
