<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>
<p>
<strong>Has Following Benefits</strong>
<% @program.benefits.each do |benefit| %>
<li><%=	benefit.name %></li>
	<% end %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
