<%= form_for(@beneficiary) do |f| %>
  <% if @beneficiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beneficiary.errors.count, "error") %> prohibited this beneficiary from being saved:</h2>

      <ul>
      <% @beneficiary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fathers_name %><br>
    <%= f.text_field :fathers_name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :place_of_birth %><br>
    <%= f.text_field :place_of_birth %>
  </div>
  <div class="field">
    <%= f.label :native_place %><br>
    <%= f.text_field :native_place %>
  </div>
  <div class="field">
    <%= f.label :house_name %><br>
    <%= f.text_field :house_name %>
  </div>
  <div class="field">
    <%= f.label :house_number %><br>
    <%= f.number_field :house_number %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br>
    <%= f.text_field :street_name %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :pin_code %><br>
    <%= f.number_field :pin_code %>
  </div>


  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :narrative_text %><br>
    <%= f.text_area :narrative_text %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name %>
  </div>
  <div class="field">
    <%= f.label :school_type %><br>
    <%= f.text_field :school_type %>
  </div>
    <div class="field">
    <%= f.label :school_class %><br>
    <%= f.text_field :school_class %>
  </div>
    <div class="field">
    <%= f.label :health_condition %><br>
    <%= f.text_field :health_condition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
