<h1>Listing beneficiaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fathers name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Place of birth</th>
      <th>Native place</th>
      <th>House name</th>
      <th>House number</th>
      <th>Street name</th>
      <th>City</th>
      <th>Pin code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beneficiaries.each do |beneficiary| %>
      <tr>
        <td><%= beneficiary.name %></td>
        <td><%= beneficiary.fathers_name %></td>
        <td><%= beneficiary.gender %></td>
        <td><%= beneficiary.date_of_birth %></td>
        <td><%= beneficiary.place_of_birth %></td>
        <td><%= beneficiary.native_place %></td>
        <td><%= beneficiary.house_name %></td>
        <td><%= beneficiary.house_number %></td>
        <td><%= beneficiary.street_name %></td>
        <td><%= beneficiary.city %></td>
        <td><%= beneficiary.pin_code %></td>
        <td><%= link_to 'Show', beneficiary %></td>
        <td><%= link_to 'Edit', edit_beneficiary_path(beneficiary) %></td>
        <td><%= link_to 'Destroy', beneficiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beneficiary', new_beneficiary_path %>
