<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beneficiary.name %>
</p>

<p>
  <strong>Fathers name:</strong>
  <%= @beneficiary.fathers_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @beneficiary.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @beneficiary.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @beneficiary.place_of_birth %>
</p>

<p>
  <strong>Native place:</strong>
  <%= @beneficiary.native_place %>
</p>

<p>
  <strong>House name:</strong>
  <%= @beneficiary.house_name %>
</p>

<p>
  <strong>House number:</strong>
  <%= @beneficiary.house_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @beneficiary.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @beneficiary.city %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @beneficiary.pin_code %>
</p>

<p>
    <strong>Surname</strong>
    <%= @beneficiary.surname %>
  </p>
  <p>
    <strong>Narrative Text</strong>
    <%= @beneficiary.narrative_text %>
  </p>
  <p>
    <strong>School Name</strong>
    <%= @beneficiary.school_name %>
  </p>
  <p>
    <strong>School Type</strong>
    <%= @beneficiary.school_type %>
  </p>
    <p>
    <strong>School Class</strong>
    <%= @beneficiary.school_class %>
  </p>
    <p>
    <strong>Health Condition</strong>
    <%= @beneficiary.health_condition %>
  </p>

<%= link_to 'Edit', edit_beneficiary_path(@beneficiary) %> |
<%= link_to 'Back', beneficiaries_path %>
