<div class="medium-6 columns">
    <h5>Search for Beneficiaries</h5>
    <div id="search_results">
        <form action="" id="searchExistingPeopleForm">
            <div id="searchExistingPeople" class="content">
                <div class="row">
                    <div class="small-12 medium-4 column">Name</div>
                    <div class="small-12 medium-8 column"><input name="name" type="text"></div>
                    <div class="small-12 medium-4 column">Fathers Name</div>
                    <div class="small-12 medium-8 column"><input type="text" name="fname" /></div>
                    <div class="small-12 medium-4 column">City</div>
                    <div class="small-12 medium-8 column"><input name="city" type="text"/></div>
                    <div class="small-12 medium-4 column">Zipcode</div>
                    <div class="small-12 medium-8 column"><input name="zipcode" type="text"/></div>
                </div>
                <button type="submit" id="searchExistingPeopleSubmit">Search</button>
            </div>
        </form>
        <a id="FormToggle"><i class="icon-search button tiny"></i></a><br>
        <table id="search_results_List" style="display: none;">
            <thead>
            <tr>
                <th>Id</th> <th>Name</th> <th>Fathers Name</th> <th>City</th> <th>Zipcode</th> <th></th>
            </tr>
            </thead>
            <tbody id="searchResult">
            </tbody>
        </table>
    </div>
</div>
<div class="medium-6 columns">
    <h5>Family Members Added</h5>
    <%= form_for @family do |f| %>
        <div id="people">
            <% unless @family.people.nil? then @family.people.each_with_index do |person, index| %>
                <div class="person" data-pid="<%= person.id %>">
                    <%= link_to "X", delete_family_relation_path(id: person.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                    <input type="hidden" name="people[<%= index %>][person_id]" value="<%= person.id %>"/>
                    <h5><%= person.name + " " + person.fathers_name %></h5>
                    <div class="row">
                        <div class="small-12 medium-4 column"><label for="name">Name</label></div>
                        <div class="small-12 medium-8 column"><input id="name" disabled="disabled" name="person" type="text"  value="<%= person.name %>"></div>
                        <div class="small-12 medium-4 column"><label for="person_Father's Name">Father's name</label></div>
                        <div class="small-12 medium-8 column"><input id="fathers_name" disabled="disabled" class="personsfathername" name="person[fathers_name]" type="text" value="<%= person.fathers_name %>"></div>
                        <div class="small-12 medium-4 column"><label for="Role in context of Sharana">Role in the Household</label></div>
                        <div class="small-12 medium-8 column">
                            <select class="role_id" name="people[<%= index %>][role_id]">
                                <option value="1"<%= " selected" if person.role_id == 1%>>Head of the Household</option>
                                <option value="2"<%= " selected" if person.role_id == 2%>>Wife</option>
                                <option value="3"<%= " selected" if person.role_id == 3%>>Child</option>
                                <option value="4"<%= " selected" if person.role_id == 4%>>Father</option>
                                <option value="5"<%= " selected" if person.role_id == 5%>>Mother</option>
                                <option value="6"<%= " selected" if person.role_id == 6%>>Brother</option>
                                <option value="7"<%= " selected" if person.role_id == 7%>>Sister</option>
                            </select>
                        </div>
                    </div>
                </div>
            <% end %>
            <% end %>
        </div>
        <%= f.submit 'Submit Family', class: 'button tiny' %>
    <% end %>
</div>