<%= render '/shared/overview_sidebar' %>
<%= content_for :js do %><%= javascript_include_tag "families_new.js" %> <% end %>
<div id="content">
    <h2>Edit Family <small><%= @family.name %></small></h2>
    <%= render "form" %>
</div>
