



<%= form_for @person_godfather_file , :html => { :multipart => true } do |form| %>
<% if @person_godfather_file.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@person_godfather_file.errors.count, "error") %> prohibited this Correspondance from being saved:</h2>

  <ul>
    <% @person_godfather_file.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
</div>
<% end %>
<%= form.hidden_field :godfather_person_id %>
<%= form.hidden_field :remark %>
<div class="row">
    <div class="small-12 medium-6 column">
        <div class="small-12 medium-4 column">
            <%= label(:remark, :typeof, "Type of Correspondance") %>
        </div>
        <div class="small-12 medium-8 column">
           <%= select("remark", "typeof", ["Greeting Card", "Godfather Letter"] ) %>
       </div>
   </div>
</div>



<div class="row">
    <div class="small-12 medium-6 column">
        <div class="small-12 medium-4 column">
            <%= label(:remark, :submitdate) %>
        </div>
        <div class="small-12 medium-8 column left">
            <%= date_select("remark", "submitdate", {order: [:year]}, :class => "small-4 left") %>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



<div class="row">
   <div class="small-12 medium-6 column">
    <div class="small-12 medium-4 column">
        <%= label(:remark, :language) %>
    </div>
    <div class="small-12 medium-8 column left">
       <%= select("remark", "language", ["English", "French", "Tamil"] ) %>
   </div>
</div>
</div>


<div class="row">
    <div class="small-12 medium-6 column">
        <div class="small-12 medium-4 column">
            <%= form.label :file%>
        </div>
        <div class="small-12 medium-6 column left">
            <%= form.file_field :file %>
        </div>
    </div>
</div>


<div class="button-center">
    <%= form.submit "Add Correspondance", :class => 'button' %>
</div>
<div class="text-center">
<%= link_to 'Cancel', person_path(@person_godfather_file.person), :class => "button tiny" %>
</div>
<% end %>
