<h5>Godfathers</h5>

<dl class="accordion" data-accordion>
	<% @godfathers.each_with_index do |godfather, index| %>
	<% join_model = @godfather_relations.where(godfather_id: godfather.id).first %>
	<dd>
		<a href="#godfather<%= godfather.id %>">
			<%= godfather.godfather_people.where(person_id: @person.id).empty? ?  godfather.name + " " + godfather.family_name + " (Until " + (l join_model.deleted_at.to_date) + ")" : godfather.name + " " + godfather.family_name + " (Current)" %>
			<span class="right"><i class="icon-chevron-right"></i></span>
		</a>
		<div id="godfather<%= godfather.id %>" class="content<%= " active" if index == 0 %>">
			<div class="row" style="height: 40px">
				<div class="small-6 medium-6 column"></div>
				<div class="small-6 medium-6 column">					
					<div class="row">
						<%= link_to " Add Correspondance", new_person_godfather_file_path(join_model), :class => 'button tiny icon-file'  %>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="small-12 medium-6 column">
					<table class="table small-12">
						<tr>
							<th class="small-3">Organisation: </th>
							<td class="small-9"><%= godfather.organisation %></td>
						</tr>
						<tr>
							<th>Country: </th>
							<td><%= godfather.country %></td>
						</tr>
						<tr>
							<th>Email: </th>
							<td><%= godfather.email %></td>
						</tr>
						<tr>
							<th>Telephone Number: </th>
							<td><%= godfather.telephone_number %></td>
						</tr>
					</table>
				</div>
				<div class="small-12 medium-6 column">
					<div class="row">

						<table class="table small-12">
							<thead>
								<tr>
									<th class="header small-7">Remark</th>
									<th class="header small-3">Uploaded At</th>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<% join_model.person_godfather_files.order("updated_at DESC").each do |f| %>
								<tr>
									<td><%= (f.remark.empty? ? f.file_file_name : simple_format(f.remark))%></td>
									<td><%= l f.created_at.to_date %></td>
									<td><%= link_to (content_tag(:i, '', :class => 'icon-download-alt')), get_godfather_file_path(f.id) %>

										<%= link_to (content_tag(:i, '', :class => 'icon-trash')), person_godfather_file_path(f.id), method: :delete, data: { confirm: 'Are you sure you want to delete this File?' } %>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</dd>
		<% end %>
	</dl>
	<script type="text/javascript">
	// Tried toggling Chevron icon up and down on accordion show hide but its not working due to foundation

	// $(document).ready(function () {

	// 	function setArrow($row) {
	// 		var $icon = $row.find('a > span > i'),
	// 			classname = '';
	// 			console.log($row.find('.content'),$row.find('.content').hasClass('active'));
	// 		if($row.find('.content').hasClass('active')) {
	// 			classname = "icon-chevron-up";
	// 		}else{
	// 			classname = "icon-chevron-down";
	// 		}

	// 		console.log(classname);
	// 		$icon.attr('class', classname);
	// 	}

	// 	var $rows = $('.accordion').children();
	// 		$rows.each(function() {
	// 			setArrow($(this));
	// 		});

	// 	$('.accordion').on('toggled', function(e) {
	// 		e.preventDefault();
	// 		console.log(this);
	// 		var $rows = $(this).closest('dl').children();
	// 		$rows.each(function() {
	// 			setArrow($(this));
	// 		});
	// 	})
	// })
</script>
