<div class="small-12">
	<table class="table small-12">
		<tr>
			<td class="small-12 medium-6 columns">Type of family:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.type_of_family %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Residental status:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.residental_status %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">How did you get the possession of the house</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.house_possession %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">What is the type of the house:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.house_type %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Do you have electricity connection:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.electricity ? 'yes' : 'no' %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Where do you obtain your water:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.water_from %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Do you have a toilet facility in your house</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.toilet_facility ? 'yes' : 'no' %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Do you have the facility of rain water</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.rain_harvesting ? 'yes' : 'no' %></td>
		</tr>
		<% if !@family.community_development.rain_harvesting  %>
			<tr>
				<td class="small-12 medium-6 columns">Would you like to have such a facility:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.want_rain_harvesting  ? 'yes' : 'no' %></td>
			</tr>
		<% end %>
		<tr>
			<td class="small-12 medium-6 columns">Number of earning members in the family:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.earning_members_of_family %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">What are the sources of income:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.source_of_income %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">If agriculture give land details:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.land_details %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Do you have any savings:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.any_savings ? 'yes' : 'no' %></td>
		</tr>
		<% if @family.community_development.any_savings%>
			<tr>
				<td class="small-12 medium-6 columns">If yes, what is the mode of savings:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.mode_of_savings %></td>
			</tr>
		<% end %>
		<tr>
			<td class="small-12 medium-6 columns">Do you have debts:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.debts ? 'yes' : 'no' %></td>
		</tr>
		<% if @family.community_development.debts %>
			<tr>
				<td class="small-12 medium-6 columns">If yes, what is the reason for your debt:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.reason_for_debt %></td>
			</tr>
		<% end %>
		<tr>
			<td class="small-12 medium-6 columns">Are any family members addicted to any substance:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.family_members_addicted_to %></td>
		</tr>
		<% if @family.community_development.family_members_addicted_to != "" %>
			<tr>
				<td class="small-12 medium-6 columns">Who is addicted:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.family_members_addicted_who %></td>
			</tr>
		<% end%>
		<tr>
			<td class="small-12 medium-6 columns">Is there any disabled person in your family</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.family_disabled ? 'yes' : 'no' %></td>
		</tr>
		<% if @family.community_development.family_disabled %>
			<tr>
				<td class="small-12 medium-6 columns">If yes, what is the type of handicap:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.family_type_of_handicap %></td>
			</tr>
		<% end %>
		<tr>
			<td class="small-12 medium-6 columns">Do any of the members of your family have contagioic deseases?:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.family_chronic_deseases ? 'yes' : 'no' %></td>
		</tr>
		<% if @family.community_development.family_chronic_deseases %>
			<tr>
				<td class="small-12 medium-6 columns">What kind of deseases:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.family_chronic_deseases_which %></td>
			</tr>
		<% end %>
		<tr>
			<td class="small-12 medium-6 columns">Are the children in your family duly vaccinated:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.family_children_vaccined ? 'yes' : 'no' %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Do married members of your family know about family planning:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.family_knowledge_of_family_planning ? 'yes' : 'no' %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Has any of your family member undergone family planning:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.family_undergone_family_planning ? 'yes' : 'no' %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Do you know any home remedies for general illnesses:</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.home_remedies_for_illnesses ? 'yes' : 'no' %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">For your illness, where do you go for treatment</td>
			<td class="small-12 medium-6 columns"><% @family.community_development.illness_treatment.each_with_index do |v, i| %><%= i == 0 ? v.to_s : ", "+v.to_s %><% end unless @family.community_development.illness_treatment.nil? %></td>
		</tr>
		<tr>
			<td class="small-12 medium-6 columns">Do you have any school drop out children in your family</td>
			<td class="small-12 medium-6 columns"><%= @family.community_development.family_school_dropout ? 'yes' : 'no' %></td>
		</tr>
		<% if @family.community_development.family_school_dropout %>
			<tr>
				<td class="small-12 medium-6 columns">If yes give reason for dropout:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.family_dropout_reason_for %></td>
			</tr>
			<tr>
				<td class="small-12 medium-6 columns">After dropout what is the present condition of the person:</td>
				<td class="small-12 medium-6 columns"><%= @family.community_development.family_dropout_present_condition %></td>
			</tr>
		<% end %>
		<tr>
			<td class="small-12 medium-6 columns">Is any of you family member skilled in any art?</td>
			<td class="small-12 medium-6 columns"><% @family.community_development.family_skilled_in_art.each_with_index do |v, i| %><%= i == 0 ? v.to_s : ", "+v.to_s %><% end unless @family.community_development.family_skilled_in_art.nil? %></td>
		</tr>
	</table>
	<p>&nbsp;<br />&nbsp;</p>
</div>