<h1>Community Developments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Head of household</th>
      <th>Type of family</th>
      <th>Residental status</th>
      <th>House posession</th>
      <th>House type</th>
      <th>Earning members of family</th>
      <th>Source of income</th>
      <th>Land details</th>
      <th>Any savings</th>
      <th>Mode of savings</th>
      <th>Debts</th>
      <th>Reason for debt</th>
      <th>Family disabled</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @community_developments.each do |community_development| %>
      <tr>
        <td><%= community_development.head_of_household_id %></td>
        <td><%= community_development.type_of_family %></td>
        <td><%= community_development.residental_status %></td>
        <td><%= community_development.house_posession %></td>
        <td><%= community_development.house_type %></td>
        <td><%= community_development.earning_members_of_family %></td>
        <td><%= community_development.source_of_income %></td>
        <td><%= community_development.land_details %></td>
        <td><%= community_development.any_savings %></td>
        <td><%= community_development.mode_of_savings %></td>
        <td><%= community_development.debts %></td>
        <td><%= community_development.reason_for_debt %></td>
        <td><%= community_development.family_disabled %></td>
        <td><%= link_to (content_tag(:i, '', :class => 'icon-file')), community_development %>
        <%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_community_development_path(community_development) %>
        <%= link_to (content_tag(:i, '', :class => 'icon-trash')), community_development, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_community_development_path, :class => 'btn btn-primary' do %>
  <%= (content_tag(:i, '', :class => 'icon-pencil')) %>
  New Community Development
<% end %>
