<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table>
    <tr>
        <td>Head of household:</td>
        <td><%= @community.head_of_household_id %></td>
        <td>Type of family:</td>
        <td><%= @community.type_of_family %></td>
    </tr>

    <tr>
        <td>Residental status:</td>
        <td><%= @community.residental_status %></td>
        <td>How did you get the possession of the house</td>
        <td><%= @community.house_posession %></td>
    </tr>

    <tr>
        <td>What is the type of the house:</td>
        <td><%= @community.house_type %></td>
        <td>Do you have electricity connection:</td>
        <td><%= @community.electricity %></td>
    </tr>

    <tr>
        <td>Where do you obtain your water:</td>
        <td><%= @community.water_from %></td>
        <td>Do you have a toilet facility in your house</td>
        <td><%= @community.toilet_facility %></td>
    </tr>

    <tr>
        <td>Do you have the facility of rain water</td>
        <td><%= @community.rain_harvesting %></td>
        <td>Would you like to have such a facility:</td>
        <td><%= @community.want_rain_harvesting %></td>
    </tr>

    <tr>
        <td>Number of earning members in the family:</td>
        <td><%= @community.earning_members_of_family %></td>
        <td>What are the sources of income:</td>
        <td><%= @community.source_of_income %></td>
    </tr>

    <tr>
        <td>If agriculture give land details:</td>
        <td><%= @community.land_details %></td>
        <td>Do you have any savings:</td>
        <td><%= @community.any_savings %></td>
    </tr>

    <tr>
        <td>If yes, what is the mode of savings:</td>
        <td><%= @community.mode_of_savings %></td>
        <td>Do you have debts:</td>
        <td><%= @community.debts %></td>
    </tr>

    <tr>
        <td>If yes, what is the reason for your debt:</td>
        <td><%= @community.reason_for_debt %></td>
        <td>Are any family members addicted to any substance:</td>
        <td><%= @community.family_members_addicted_to %></td>
    </tr>

    <tr>
        <td>Who is it:</td>
        <td><%= @community.family_members_addicted_who %></td>
        <td>Is there any disabled person in your family</td>
        <td><%= @community.family_disabled %></td>
    </tr>

    <tr>
        <td>If yes, what is the type of handicap:</td>
        <td><%= @community.family_type_of_handicap %></td>
        <td>Do any of the members of your family have contagioic deseases?:</td>
        <td><%= @community.family_chronic_deseases %></td>
    </tr>

    <tr>
        <td>What kind of deseases:</td>
        <td><%= @community.family_chronic_deseases_which %></td>
        <td>Are the children in your family duly vaccinated:</td>
        <td><%= @community.family_children_vaccined %></td>
    </tr>

    <tr>
        <td>Do married members of your family know about family planning:</td>
        <td><%= @community.family_knowledge_of_family_planning %></td>
        <td>Has any of your family member undergone family planning:</td>
        <td><%= @community.family_undergone_family_planning %></td>
    </tr>

    <tr>
        <td>Do you know any home remedies for general illnesses:</td>
        <td><%= @community.home_remedies_for_illnesses %></td>
        <td>For your illness, where do you go for treatment</td>
        <td><%= @community.illness_treatment %></td>
    </tr>

    <tr>
        <td>Do you have any school drop out children in your family</td>
        <td><%= @community.family_school_dropout %></td>
        <td>If yes give reason for dropout:</td>
        <td><%= @community.family_dropout_reason_for %></td>
    </tr>

    <tr>
        <td>After dropout what is the present condition of the person:</td>
        <td><%= @community.family_dropout_present_condition %></td>
        <td>Is any of you family member skilled in any ar</td>
        <td><%= @community.family_skilled_in_art %></td>
   </tr>
    <tr>
        <td>If yes give reason for dropout:</td>
        <td><%= simple_format(@community_development.family_dropout_reason_for) %></td>
    </tr>

    <tr>
        <tr>After dropout what is the present condition of the person:</tr>
        <td><%= simple_format(@community_development.family_dropout_present_condition) %></td>
    </tr>

</table>

<%= link_to 'Edit', edit_community_development_path(@community_development) %> |
<%= link_to 'Back', community_developments_path %>
