<p id="notice"><%= notice %></p>

<p>
  <strong>Head of household:</strong>
  <%= @community_development.head_of_household %>
</p>

<p>
  <strong>Type of family:</strong>
  <%= @community_development.type_of_family %>
</p>

<p>
  <strong>Residental status:</strong>
  <%= @community_development.residental_status %>
</p>

<p>
  <strong>House posession:</strong>
  <%= @community_development.house_posession %>
</p>

<p>
  <strong>House type:</strong>
  <%= @community_development.house_type %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @community_development.electricity %>
</p>

<p>
  <strong>Water from:</strong>
  <%= @community_development.water_from %>
</p>

<p>
  <strong>Toilet facility:</strong>
  <%= @community_development.toilet_facility %>
</p>

<p>
  <strong>Rain harvesting:</strong>
  <%= @community_development.rain_harvesting %>
</p>

<p>
  <strong>Want rain harvesting:</strong>
  <%= @community_development.want_rain_harvesting %>
</p>

<p>
  <strong>Earning members of family:</strong>
  <%= @community_development.earning_members_of_family %>
</p>

<p>
  <strong>Source of income:</strong>
  <%= @community_development.source_of_income %>
</p>

<p>
  <strong>Land details:</strong>
  <%= @community_development.land_details %>
</p>

<p>
  <strong>Any savings:</strong>
  <%= @community_development.any_savings %>
</p>

<p>
  <strong>Mode of savings:</strong>
  <%= @community_development.mode_of_savings %>
</p>

<p>
  <strong>Debts:</strong>
  <%= @community_development.debts %>
</p>

<p>
  <strong>Reason for debt:</strong>
  <%= @community_development.reason_for_debt %>
</p>

<p>
  <strong>Family members addicted to:</strong>
  <%= @community_development.family_members_addicted_to %>
</p>

<p>
  <strong>Family members addicted who:</strong>
  <%= @community_development.family_members_addicted_who %>
</p>

<p>
  <strong>Family disabled:</strong>
  <%= @community_development.family_disabled %>
</p>

<p>
  <strong>Family type of handicap:</strong>
  <%= @community_development.family_type_of_handicap %>
</p>

<p>
  <strong>Family chronic deseases:</strong>
  <%= @community_development.family_chronic_deseases %>
</p>

<p>
  <strong>Family chronic deseases which:</strong>
  <%= @community_development.family_chronic_deseases_which %>
</p>

<p>
  <strong>Family children vaccined:</strong>
  <%= @community_development.family_children_vaccined %>
</p>

<p>
  <strong>Family knowledge of family planning:</strong>
  <%= @community_development.family_knowledge_of_family_planning %>
</p>

<p>
  <strong>Family undergone family planning:</strong>
  <%= @community_development.family_undergone_family_planning %>
</p>

<p>
  <strong>Home remedies for illnesses:</strong>
  <%= @community_development.home_remedies_for_illnesses %>
</p>

<p>
  <strong>Illness treatment:</strong>
  <%= @community_development.illness_treatment %>
</p>

<p>
  <strong>Family school dropout:</strong>
  <%= @community_development.family_school_dropout %>
</p>

<p>
  <strong>Family dropout reason for:</strong>
  <%= @community_development.family_dropout_reason_for %>
</p>

<p>
  <strong>Family dropout present condition:</strong>
  <%= @community_development.family_dropout_present_condition %>
</p>

<p>
  <strong>Family skilled in art:</strong>
  <%= @community_development.family_skilled_in_art %>
</p>

<%= link_to 'Edit', edit_community_development_path(@community_development) %> |
<%= link_to 'Back', community_developments_path %>
