<p id="notice"><%= notice %></p>

<p>
  <strong>Head of household:</strong>
  <%= @community_development.head_of_household_id %>
</p>

<p>
  <strong>Type of family:</strong>
  <%= @community_development.type_of_family %>
</p>

<p>
  <strong>Residental status:</strong>
  <%= @community_development.residental_status %>
</p>

<p>
  <strong>How did you get the possession of the house site:</strong>
  <%= @community_development.house_posession %>
</p>

<p>
  <strong>What is the type of the house:</strong>
  <%= @community_development.house_type %>
</p>

<p>
  <strong>Do you have electricity connection:</strong>
  <%= @community_development.electricity %>
</p>

<p>
  <strong>Where do you obtain your water:</strong>
  <%= @community_development.water_from %>
</p>

<p>
  <strong>Do you have a toilet facility in your house:</strong>
  <%= @community_development.toilet_facility %>
</p>

<p>
  <strong>Do you have the facility of rain water harvesting:</strong>
  <%= @community_development.rain_harvesting %>
</p>

<p>
  <strong>Would you like to have such a facility:</strong>
  <%= @community_development.want_rain_harvesting %>
</p>

<p>
  <strong>Number of earning members in the family:</strong>
  <%= @community_development.earning_members_of_family %>
</p>

<p>
  <strong>What are the sources of income:</strong>
  <%= @community_development.source_of_income %>
</p>

<p>
  <strong>If agriculture give land details:</strong>
  <%= @community_development.land_details %>
</p>

<p>
  <strong>Do you have any savings:</strong>
  <%= @community_development.any_savings %>
</p>

<p>
  <strong>If yes, what is the mode of savings:</strong>
  <%= @community_development.mode_of_savings %>
</p>

<p>
  <strong>Do you have debts:</strong>
  <%= @community_development.debts %>
</p>

<p>
  <strong>If yes, what is the reason for your debt:</strong>
  <%= @community_development.reason_for_debt %>
</p>

<p>
  <strong>Are any family members addicted to any substance:</strong>
  <%= @community_development.family_members_addicted_to %>
</p>

<p>
  <strong>Who is it:</strong>
  <%= @community_development.family_members_addicted_who %>
</p>

<p>
  <strong>Is there any disabled person in your family:</strong>
  <%= @community_development.family_disabled %>
</p>

<p>
  <strong>If yes, what is the type of handicap:</strong>
  <%= @community_development.family_type_of_handicap %>
</p>

<p>
  <strong>Do any of the members of your family have contagious/chronic deseases?:</strong>
  <%= @community_development.family_chronic_deseases %>
</p>

<p>
  <strong>What kind of deseases:</strong>
  <%= @community_development.family_chronic_deseases_which %>
</p>

<p>
  <strong>Are the children in your family duly vaccinated:</strong>
  <%= @community_development.family_children_vaccined %>
</p>

<p>
  <strong>Do married members of your family know about family planning:</strong>
  <%= @community_development.family_knowledge_of_family_planning %>
</p>

<p>
  <strong>Has any of your family member undergone family planning:</strong>
  <%= @community_development.family_undergone_family_planning %>
</p>

<p>
  <strong>Do you know any home remedies for general illnesses:</strong>
  <%= @community_development.home_remedies_for_illnesses %>
</p>

<p>
  <strong>For your illness, where do you go for treatment:</strong>
  <%= @community_development.illness_treatment %>
</p>

<p>
  <strong>Do you have any school drop out children in your family?:</strong>
  <%= @community_development.family_school_dropout %>
</p>

<p>
  <strong>If yes give reason for dropout:</strong>
  <%= @community_development.family_dropout_reason_for %>
</p>

<p>
  <strong>After dropout what is the present condition of the person:</strong>
  <%= @community_development.family_dropout_present_condition %>
</p>

<p>
  <strong>Is any of you family member skilled in any arts:</strong>
  <%= @community_development.family_skilled_in_art %>
</p>

<%= link_to 'Edit', edit_community_development_path(@community_development) %> |
<%= link_to 'Back', community_developments_path %>
