<%= form_for(@person) do |f| %>
	<% if @person.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

			<ul>
			<% @person.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="row">
		<div class="small-12 column">
			<%= f.text_field :name, :placeholder => :name %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.text_field :fathers_name, :placeholder => :fathers_name%>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "Gender: " %>
		</div>
		<div class="small-12 large-10 columns">
			<%= f.select :gender, ["male", "female"] %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-3 columns">
			<%= f.label "Date of Birth: ", :class => "inline"%>
		</div>
		<div class="small-12 large-9 columns">
			<%= f.date_select :date_of_birth, {:order => [:day, :month, :year], :start_year => 1910}, :class => "small-4 column" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.text_field :place_of_birth, :placeholder => "Place of Birth" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.text_field :native_place, :placeholder => "Native Place" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.text_field :name_of_the_house, :placeholder => "Name of the house" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.text_field :name_of_the_street, :placeholder => "Name of the Street" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.text_field :city, :placeholder => "City/Village" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.number_field :pin_code, :placeholder => "PIN Code" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.select :religion, ["Hindu", "Christian", "Muslim", "Other"]%>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<%= f.select :caste, ["Scheduled Caste", "Most Backward Class", "Backward Class", "Other"]%>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "Education", :class => "inline"%>
		</div>
		<div class="small-12 large-10 columns">
			<%= f.select :education, ["Primary", "High", "Hr Secondary", "College", "Vocational"]%>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "Marital Status", :class => "inline"%>
		</div>
		<div class="small-12 large-10 columns">
			<%= f.select :marital_status, ["none", "married", "widow/widower", "deserted", "divorced", "seperated"]%>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "Health Condition", :class => "inline"%>
		</div>
		<div class="small-12 large-10 columns">
			<%= f.select :health_condition, ["normal", "disabled", "mentally retarded"]%>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "Occupation", :class => "inline"%>
		</div>
		<div class="small-12 large-10 columns">
			<%= f.select :occupation, ["none", "student", "agricultural coolie", "small farmer", "industrial worker", "government employee", "other"]%>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-12 column">
			<%= f.number_field :income, :placeholder => "Income per month in Rupee" %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-12 column">
			<%= f.select :role_id, Role.all.map{|role| [role.name, role.id]}, :placeholder => "Income per month in Rupee" %>
		</div>
	</div>
	<div class="row">
	<h2>Beneficiary Questioins:</h2>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "School Type", :class => "inline"%>
		</div>
		<div class="small-12 large-10 column">
			<%= f.select :school_type, ["government", "government aided", "private"] %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "School Language", :class => "inline"%>
		</div>
		<div class="small-12 large-10 column">
			<%= f.select :school_language, ["English Medium", "Tamil Medium"] %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "School Class", :class => "inline"%>
		</div>
		<div class="small-12 large-10 column">
			<%= f.select :school_class, ["LKG", "UKG", 1,2,3,4,5,6,7,8,9,10,11,12, "College"] %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "Narrative text", :class => "inline"%>
		</div>
		<div class="small-12 large-10 column">
			<%= f.text_area :narrative_text %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 large-2 columns">
			<%= f.label "Godfather", :class => "inline"%>
		</div>
		<div class="small-12 large-10 column">
			<%= f.select :godfather_id, Supporter.where(:godfather => 1).map{|role| [role.name, role.id]} %>
		</div>
	</div>

	<h2>Programs</h2>
	<div class="row">
		<div class="large-12 column">
		<div class="row">
			<% Program.all.each_slice(10) do |slice| %>
				<% slice.each do |p| %>
				<label class="small-12 medium-6 large-4 column"><%= check_box_tag :program_ids, p.id, @person.programs.include?(p), :name => 'person[program_ids][]' %> <%= p.name %>
				</label>
				<% end %>
			<% end %>
		</div>
		</div>
	</div>

	<!-- TODO: AJAX ! -->
	<div class="row button-center">
		<input type="submit" class="button small-12 medium-4 large-3" value="Create Person">
		<a id="submitPerson" href="/people/" class="button small-12 medium-4 large-3">Back</a>
	</div>
<% end %>