	<div class="row"style="background-color: #f4f4f4;">
		<div class="medium-2 column">
			<%= image_tag @person.avatar.url(:medium), :class => "person-picture" %>
		</div>
		<div class="medium-10 column">
			<h3><%= @person.name %></h3>
			<h5><b>File: <%= @person.id %></b></h5>
			<ul class="no-bullet">
				<% @person.programs.each do |p| %>
				<span class="label"><%= p.name %></span>
				<% end %>
			</ul>
			<span class="">Total Expenses: 
			<%= money_without_cents_and_with_symbol @person.get_total_expenses %>
			</span>
		</div>
	</div>