	<div class="row person-head">
		<div class="medium-2 column">
			<%= image_tag @person.avatar.url(:medium), :class => "person-picture" %>
		</div>
		<div class="medium-10 column">
			<h3><%= @person.name %></h3>
			<h5><b>File: <%= @person.id %></b></h5>
			<ul class="no-bullet">
				<% @person.programs.each do |p| %>
				    <%= link_to p.name, program_path(p), {class: 'label button'} %>
				<% end %>
			</ul>
            <div id="amount-to-date" class="button-bar">
                <ul id="year-to-date" class="button-group round">
                    <li><a href="" class="tiny button">Year to date</a></li>
                    <li><a href="" class="tiny button">
                        <%= money_without_cents_and_with_symbol @person.year_to_date %>
                    </a></li>
                </ul>
                <ul id="month-to-date" class="button-group round hidden">
                    <li><a href="" class="tiny button">Month to date</a></li>
                    <li><a href="" class="tiny button">
                        <%= money_without_cents_and_with_symbol @person.month_to_date %>
                    </a></li>
                </ul>
            </div>
		</div>
	</div>