<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fathers name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Place of birth</th>
      <th>Native place</th>
      <th>Name of the house</th>
      <th>Number of the house</th>
      <th>Name of the street</th>
      <th>City</th>
      <th>Pin code</th>
      <th>Religion</th>
      <th>Caste</th>
      <th>Education</th>
      <th>Marital status</th>
      <th>Health condition</th>
      <th>Occupation</th>
      <th>Income</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.fathers_name %></td>
        <td><%= person.gender %></td>
        <td><%= person.date_of_birth %></td>
        <td><%= person.place_of_birth %></td>
        <td><%= person.native_place %></td>
        <td><%= person.name_of_the_house %></td>
        <td><%= person.number_of_the_house %></td>
        <td><%= person.name_of_the_street %></td>
        <td><%= person.city %></td>
        <td><%= person.pin_code %></td>
        <td><%= person.religion %></td>
        <td><%= person.caste %></td>
        <td><%= person.education %></td>
        <td><%= person.marital_status %></td>
        <td><%= person.health_condition %></td>
        <td><%= person.occupation %></td>
        <td><%= person.income %></td>
        <td><%= person.role %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
