<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Beneficiaries</h1>
<div class="row">
    <div class="small-12 medium-7 left">
        <%= render "sort" %>
    </div>
    <div class="small-12 medium-5 right">
        <div class="button-bar">
            <ul class="button-group right">
                <li>
                    <div><label for="count">Reporting</label></div>
                    <%= select_tag "count", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, :style => "width: 100px; float:left;", :disabled => "disabled"  %>
                </li>
                <li>
                    <div><label for="">&nbsp;</label></div>
                    <a href='#' id="calculatebtn" class="custom-postfix-class secondary button" style="width: 150px; float:left;" disabled="disabled">Create Report</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="small-12 medium-7 column" style="height: 25px;">
    <%= paginate @people, :params => {:sort => params[:sort]}, :window => 3 %>
</div>
<div class="small-12 medium-5 column text-right">
    <%= page_entries_info @people%>
</div>

<table id="peopleIndexTable" class="table small-12">
    <thead>
        <tr>
            <td style="text-align: center;"><%= check_box_tag :checked_person,'#', false, id: 'chkall' %></td>
            <th>Name</th>
            <th>Fathers name</th>
            <th>Head of household</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Place of birth</th>
            <th>City</th>
            <th>ZIP code</th>
            <th>Role</th>
            <th>Total Expense</th>
            <% if can? :update, Person %>
            <td></td>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @people.each do |person| %>
        <tr data-link="<%= person_path(person) %>">
            <td style="text-align: center"><%= check_box_tag :checked_person, person.id, false, class: 'chk' %></td>
            <td><%= person.name %></td>
            <td><%= person.fathers_name %></td>
            <td><%= person.head_of_household %></td>
            <td><%= person.gender %></td>
            <td><%= l person.date_of_birth unless person.date_of_birth.nil?%></td>
            <td><%= person.place_of_birth %></td>
            <td><%= person.city %></td>
            <td><%= person.zip_code %></td>
            <td>
                <% if !person.role_id.nil? %>
                <%  b = Role.find (person.role_id) %>
                <%= b.name %>
                <% end %>
            </td>
            <td>
                <%= number_to_indian_currency(person.year_to_date).html_safe %>
            </td>
            <% if can? :update, Person %>
            <td style="width: 130px;">
                <%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_person_path(person) %>
                <% if can? :destroy, Person %>
                <%= link_to (content_tag(:i, '', :class => 'icon-trash')), person, method: :delete, data: { confirm: 'Are you sure to delete this Beneficiary? All information will be lost!' } %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="small-12 medium-7 column" style="height: 25px;">
    <%= paginate @people, :params => {:sort => params[:sort]}, :window => 3 %>
</div>
<p>&nbsp;</p>
