<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Beneficiaries</h1>
<div class="row">
    <div class="small-12 medium-7 left">
        <%= render "sort" %>
    </div>
    <div class="small-12 medium-5 right">
        <div class="button-bar exportBar">
            <ul class="button-group right">
                <li>
                    <div><label for="report_mode">Reporting</label></div>
                    <%= select_tag :report_mode, options_for_select([["Snapshot", snapshot_people_path], ["Profiles", profile_people_path], ["Report", report_people_path]]), :style => "width: 100px; float:left;"  %>
                </li>
                <li>
                    <div><label for="">&nbsp;</label></div>
                    <a href='' id="exportBtn" class="custom-postfix-class button no-overlay" style="width: 150px; float:left;">Create Report</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="small-12 medium-7 column" style="height: 25px;">
    <%= paginate @people, :params => {:sort => params[:sort]}, :window => 3 %>
</div>
<div class="small-12 medium-5 column text-right">
    <%= page_entries_info @people%>
</div>

<%= form_tag '', method: :get, id: 'exportForm', class: 'no-overlay' do  %>
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<table id="peopleIndexTable" class="table small-12">
    <thead>
        <tr>
            <td style="text-align: center;"><%= check_box_tag :checkall,'#', false, id: 'chkall' %></td>
            <th>Name</th>
            <th>Fathers name</th>
            <th>Head of household</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Place of birth</th>
            <th>City</th>
            <th>ZIP code</th>
            <th>Role</th>
            <th>Total Expense</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <% @people.each do |person| %>
        <% cache person do %>
        <tr data-link="<%= person_path(person) %>">
            <td style="text-align: center"><%= check_box_tag "ids[]", person.id, false, class: 'chk' %></td>
            <td><%= person.name %></td>
            <td><%= person.fathers_name %></td>
            <td><%= person.head_of_household %></td>
            <td><%= person.gender %></td>
            <td><%= l person.date_of_birth unless person.date_of_birth.nil?%></td>
            <td><%= person.place_of_birth %></td>
            <td><%= person.city %></td>
            <td><%= person.zip_code %></td>
            <td><%= person.role ? person.role.name : "not given" %></td>
            <td>
                <%= number_to_indian_currency(person.year_to_date).html_safe %>
            </td>
            <td style="width: 130px;">
                <%= link_to (content_tag(:i, '', :class => 'icon-download-alt')), profile_person_path(person), target: "_blank" %>
                <% if can? :update, Person %>
                    <%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_person_path(person) %>
                    <% if can? :destroy, Person %>
                    <%= link_to (content_tag(:i, '', :class => 'icon-trash')), person, method: :delete, data: { confirm: 'Are you sure to delete this Beneficiary? All information will be lost!' } %>
                    <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>
    <% end %>
    <% end %>
    </tbody>
</table>

<div class="small-12 medium-7 column" style="height: 25px;">
    <%= paginate @people, :params => {:sort => params[:sort]}, :window => 3 %>
</div>
<p>&nbsp;</p>
