<%= render '/shared/overview_sidebar' %>
<div id="content">
	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>
	<h1 class="text-center">Beneficiaries</h1>
	<table id="peopleIndexTable" class="responsive tablesorter">
		<thead>
			<tr>
				<th>Name</th>
				<th>Fathers name</th>
				<th>Gender</th>
				<th>Date of birth</th>
				<th>Place of birth</th>
				<th>City</th>
				<th>PIN code</th>
				<th>Role</th>
				<th>Total Expense</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @people.each do |person| %>
			<tr data-link="<%= person_path(person) %>">
				<td><a href="/people/<%= person.id %>"><%= person.name %></a></td>
				<td><%= person.fathers_name %></td>
				<td><%= person.gender %></td>
				<td><%= person.date_of_birth %></td>
				<td><%= person.place_of_birth %></td>
				<td><%= person.city %></td>
				<td><%= person.pin_code %></td>
				<td>
					<% if !person.role_id.nil? %>
					<%  b = Role.find (person.role_id) %>
					<%= b.name %>
					<% end %>
				</td>
				<td>
					<%= money_without_cents_and_with_symbol person.get_total_expenses %>
				</td>
				<td style="width: 130px;">
					<%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_person_path(person) %>
                    <% if is_admin? %>
                        <%= link_to (content_tag(:i, '', :class => 'icon-trash')), person, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
