<p id="notice"><%= notice %></p>

<%= image_tag @person.avatar.url(:medium) %>
<%= image_tag @person.avatar.url(:small) %>
<%= image_tag @person.avatar.url(:thumb) %>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Father's name:</strong>
  <%= @person.fathers_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person.date_of_birth %>
</p>

<p>
  <strong>Place of birth:</strong>
  <%= @person.place_of_birth %>
</p>

<p>
  <strong>Native place:</strong>
  <%= @person.native_place %>
</p>

<p>
  <strong>Name of the house:</strong>
  <%= @person.name_of_the_house %>
</p>

<p>
  <strong>Number of the house:</strong>
  <%= @person.number_of_the_house %>
</p>

<p>
  <strong>Name of the street:</strong>
  <%= @person.name_of_the_street %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @person.pin_code %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @person.religion %>
</p>

<p>
  <strong>Caste:</strong>
  <%= @person.caste %>
</p>

<p>
  <strong>Education:</strong>
  <%= @person.education %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @person.marital_status %>
</p>

<p>
  <strong>Health condition:</strong>
  <%= @person.health_condition %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @person.occupation %>
</p>

<p>
  <strong>Income:</strong>
  <%= @person.income %>
</p>

<p>
  <strong>Role:</strong>
  <% if !@person.role_id.nil?
            b = Role.find (@person.role_id) %>
           <%= b.name %>
          <% end %>
  <%#= @person.role.name %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
<%= link_to 'New Incident', new_benefit_incident_path(@person.id) %>
