<%= content_for :js do %><%= javascript_include_tag "people" %> <% end %>
<div id="side">
	<dl id="side-nav" data-tab>
		<dd class="active"><a href="#panel2-1"><i class="icon-info icon-2x"></i><br />General Information</a></dd>
		<dd><a href="#panel2-2"><i class="icon-comments icon-2x"></i><br />Narrative Text</a></dd>
		<dd><a href="#panel2-3"><i class="icon-bell icon-2x"></i><br />School</a></dd>
		<dd><a href="#panel2-4"><i class="icon-inbox icon-2x"></i><br />Benefit History</a></dd>
		<dd><a href="#panel2-5"><i class="icon-book icon-2x"></i><br />Journal Entries</a></dd>
	</dl>
</div>
<div id="content">
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>
	<%= render 'head' %>
	<div class="clearfix"></div>
    <div class="tabs-content row">
        <div class="small-12 column content active" id="panel2-1">
            <%= render 'personal' %>
        </div>
        <div class="small-12 column content" id="panel2-2">
            <%= render 'narrativetext' %>
        </div>
        <div class="small-12 column content" id="panel2-3">
            <%= render 'school' %>
        </div>
        <div class="small-12 column content" id="panel2-5">
            <%= render 'journal' %>
        </div>
        <div class="small-12 column content" id="panel2-4">
            <%= render 'incidents' %>
        </div>
    </div>
</div>
