<div id="side">
	<dl id="side-nav" data-tab>
		<dd class="active"><a href="#panel2-1">General Information</a></dd>
		<dd><a href="#panel2-2">Narrative Text</a></dd>
		<dd><a href="#panel2-3">School</a></dd>
		<dd><a href="#panel2-4">Benefit History</a></dd>
	</dl>
</div>
<div id="content">
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>
	<div class="row"style="background-color: #f4f4f4;">
		<div class="medium-2 column">
			<%= image_tag @person.avatar.url(:medium), :class => "person-picture" %>
		</div>
		<div class="medium-10 column">
			<h3><%= @person.name %></h3>
			<h5><b>File: <%= @person.id %></b></h5>
			<ul class="no-bullet">
				<% Program.all.each do |p| %>
				<% if @person.programs.include?(p) %>
				<span class="label"><%= p.name %></span>
				<% end %>
				<% end %>
			</ul>
			<span class="">Total Expenses: 
			<%= money_without_cents_and_with_symbol @person.get_total_expenses %>
			</span>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="small-12 column">			
			<div class="tabs-content">
				<div class="content active" id="panel2-1">

					<h5>Personal Information</h5>
					<table class="small-12">
						<tr>
							<td class="medium-4">Father's name</td>
							<td class="medium-8"><%= @person.fathers_name %></td>
						</tr>
						<tr>
							<td>Gender</td>
							<td><%= @person.gender %></td>
						</tr>
						<tr>
							<td>Date of birth</td>
							<td><%= @person.date_of_birth %></td>
						</tr>
						<tr>
							<td>Place of birth</td>
							<td><%= @person.place_of_birth %></td>
						</tr>
						<tr>
							<td>Relation to Head of Household</td>
							<td>
								<% if !@person.role_id.nil? %>
								<%	b = Role.find (@person.role_id) %>
								<%= b.name %>
								<% else %>
								<%= "not given" %>
								<% end %>
							</td>
						</tr>
						<tr>
							<td>Marital status</td>
							<td><%= @person.marital_status %></td>
						</tr>
					</table>

					<h5>Household Information</h5>
					<table class="small-12">
						<tr>
							<td class="medium-4">Name of the house</td>
							<td class="medium-8"><%= @person.name_of_the_house %></td>
						</tr>
						<tr>
							<td>Number of the house</td>
							<td><%= @person.number_of_the_house %></td>
						</tr>
						<tr>
							<td>Name of the street</td>
							<td><%= @person.name_of_the_street %></td>
						</tr>
						<tr>
							<td>City</td>
							<td><%= @person.city %></td>
						</tr>						
						<tr>
							<td>Pin code</td>
							<td><%= @person.pin_code %></td>
						</tr>						
						<tr>
							<td>Native place</td>
							<td><%= @person.native_place %></td>
						</tr>
					</table>

					<h5>Additional Information</h5>
					<table class="small-12">
						<tbody>
							<tr>
								<td class="medium-4">Religion</td>
								<td class="medium-8"><%= @person.religion %></td>
							</tr>
							<tr>
								<td>Caste</td>
								<td><%= @person.caste %></td>
							</tr>
							<tr>
								<td>Education</td>
								<td><%= @person.education %></td>
							</tr>
							<tr>
								<td>Health condition</td>
								<td><%= @person.health_condition %></td>
							</tr>
							<tr>
								<td>Occupation</td>
								<td><%= @person.occupation %></td>
							</tr>
							<tr>
								<td>Income</td>
								<td><%= @person.income %></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="content" id="panel2-2">
					<h5>Narrative Text</h5>

					<p>
						<% if @person.narrative_text? %>
							<%= @person.narrative_text%>
						<% else %>
							none
						<% end%>
					</p>
				</div>
				<div class="content" id="panel2-3">
					
					<h5>School Information</h5>
					<table class="small-12">
						<tbody>
							<tr>
								<td class="medium-2">Language</td>
								<td class="medium-10"><%= @person.school_language %></td>
							</tr>
							<tr>
								<td>Remark</td>
								<td><%= @person.school_type %></td>
							</tr>
							<tr>
								<td>Class</td>
								<td><%= @person.school_class %></td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="content" id="panel2-4">
				<%= javascript_tag "var personId = #{@person.id};" %>
					<h5>Benefit History</h5>
					<div class="row">
		<%= select_tag(:incident_status, options_for_select([['All', nil], ['Pending', "false"], ['Granted', "true"]]),:class => "small-2") %>


		<% if is_admin? %>
		
		<%= link_to "Grant Checked Incidents", benefit_incidents_list_path(@person, :format => :js), :remote => true, :class => 'button tiny' %>
		</div>
		<% end %>
						<div id="incidents">
							<%= render "/benefit_incidents/list"%>
						</div>

				</div>
			</div>

		</div>
	</div>
</div>
<script>

</script>
