<%= form_for(@school_class) do |f| %>
    <%= f.hidden_field :school_id %>
    <div class="row">
        <div class="small-12 medium-4 column">
            <%= f.label :name %>
        </div>
        <div class="small-12 medium-8 column">
            <%= f.select :name, @school_class.school.class_names %>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 column">
            <%= f.label :document %>
        </div>
        <div class="small-12 medium-8 column">
            <%= f.file_field :document %>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 column">
            <%= f.label :remark %>
        </div>
        <div class="small-12 medium-8 column">
            <%= f.text_area :remark %>
        </div>
    </div>
    <div class="button-center">
        <%= f.submit :class => 'button' %>
    </div>
<% end %>