<div class="row">
	<%= form_for(@school) do |f| %>
	<%= f.hidden_field :person_id %>
	<div class="small-12 medium-6 column">
		<div class="row">
			<div class="small-12 medium-4 column">
				<%= f.label :name %>
			</div>
			<div class="small-12 medium-8 column">
				<%= f.text_field :name %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-4 column">
				<%= f.label :type %>
			</div>
			<div class="small-12 medium-8 column">
				<%= f.select :type, ["Government", ["Government-Aided", "GovernmentAided"], "Private", "College"] %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-4 column">
				<%= f.label :language %>
			</div>
			<div class="small-12 medium-8 column">
				<%= f.select :language, ["English", "Tamil", "French"] %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-4 column">
				<%= f.label :remark %>
			</div>
			<div class="small-12 medium-8 column">
				<%= f.text_area :remark, :id => "school_remark" %>
				<div style="margin-top: -15px; margin-bottom: 5px;" class="text-right">
					<span id="txtLeft">500</span><span> of 500 chars left</span>
				</div>
			</div>
		</div>
	</div>
	<div class="small-12 medium-6 column">
		<div class="row">
			<div class="small-12 medium-4 column">
				<%= f.label :joined_at %>
			</div>
			<div class="small-12 medium-8 column">
				<div class="row collapse">
					<div class="small-1 column">
						<span class="prefix">
							<i class="icon-calendar"></i>
						</span>
					</div>
					<div class="small-11 column">
						<%= f.text_field :joined_at , class: 'datepicker', placeholder: 'leave empty for today' %>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: "termination_fields", locals: {f: f} if @school.terminated?  %>
	</div>
	<div class="button-center">
		<%= f.submit :class => 'button' %>
	</div>
	<div class="button-center">
		<%= link_to 'Cancel', person_school_path(@school), class: 'button tiny' %>
	</div>
	<% end %>
</div>
<script type="text/javascript">
	var maxlengthTxt = 500;
	var txt = 0;
	$("#school_remark").keyup(function (e) {
		txt = $(this).val();
		leftText = maxlengthTxt - txt.length;
		if (leftText <= 0) {
			$(this).val(txt.slice(0, maxlengthTxt));
		};
		$('#txtLeft').html(leftText);
	})
</script>