<%= form_for(@supporter) do |f| %>
  <% if @supporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supporter.errors.count, "error") %> prohibited this supporter from being saved:</h2>

      <ul>
      <% @supporter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :organisation %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :organisation %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :name %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :name %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :family_name %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :family_name %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :date_of_birth %></div>
    <div class="small-12 large-9 columns"><%= f.date_select  :date_of_birth, {:order => [:day, :month, :year], :start_year => 1910}, :class => "small-4 column" %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :country %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :country %></div>
  </div>
    <div class="row">
    <div class="spsmall-12 large-3 columns"><%= f.label :city %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :city %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :street %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :street %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :zipcode %></div>
    <div class="small-12 large-9 columns"><%= f.number_field :zipcode %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :email %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :email %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :website %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :website %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :telephone_number %></div>
    <div class="small-12 large-9 columns"><%= f.number_field :telephone_number %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :godfather %></div>
    <div class="small-12 large-9 columns"><%= f.check_box :godfather %></div>
  </div>
    <div class="row">
    <div class="spsmall-12 large-3 columns"><%= f.label :is_volunteer %></div>
    <div class="small-12 large-9 columns"><%= f.check_box :is_volunteer %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :begin_of_work %></div>
    <div class="small-12 large-9 columns"><%= f.date_select :begin_of_work, {:order => [:day, :month, :year], :start_year => 1910}, :class => "small-4 column" %></div>
  </div>
    <div class="row">
    <div class="spsmall-12 large-3 columns"><%= f.label :end_of_work %></div>
    <div class="small-12 large-9 columns"><%= f.date_select :end_of_work, {:order => [:day, :month, :year], :start_year => 1910}, :class => "small-4 column" %></div>
  </div>
  <div class="row">
    <div class="small-12 large-3 columns"><%= f.label :type_of_work %></div>
    <div class="small-12 large-9 columns"><%= f.text_field :type_of_work %></div>
  </div>
  <div class="button-center">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>
