<h1>Supporters</h1>
<table id="supporterIndexTable" class="table tablesorter">
    <thead>
        <tr>
            <th>Organisation</th>
            <th>Name</th>
            <th>Family name</th>
            <th>Country</th>
            <th>City</th>
            <th>E-Mail</th>
            <th>Telephone Number</th>
            <th>Godfather</th>
            <th>Is Volunteer?</th>
            <th>Type of Work</th>
            <% if can? :update, Supporter %>
            <td></td>
            <% end %>
        </tr>
    </thead>

    <tbody>
        <% @supporters.each do |supporter| %>
        <tr data-link="<%= supporter_path(supporter) %>">
            <td><%= supporter.organisation %></td>
            <td><%= supporter.name %></td>
            <td><%= supporter.family_name %></td>
            <td><%= supporter.country %></td>
            <td><%= supporter.city %></td>
            <td><%= supporter.email %></td>
            <td><%= supporter.telephone_number %></td>
            <td><%= supporter.godfather %></td>
            <td><%= supporter.is_volunteer %></td>
            <td><%= supporter.type_of_work %></td>
            <% if can? :update, Supporter %>
            <td style="width: 130px;">
                <%= link_to (content_tag(:i, '', :class => 'icon-edit')), edit_supporter_path(supporter) %>
                <% if can? :destroy, Supporter %>
                    <%= link_to (content_tag(:i, '', :class => 'icon-trash')), supporter, method: :delete, data: { confirm: 'Are you sure you want to delete this supporter?' } %>
                <% end %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>