<h1>Listing supporters</h1>

<table>
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Name</th>
      <th>Family name</th>
      <th>Date of birth</th>
      <th>Country</th>
      <th>City</th>
      <th>Street</th>
      <th>Zipcode</th>
      <th>E-Mail</th>
      <th>Website</th>
      <th>Telephone Number</th>
      <th>Godfather</th>
      <th>Is Volunteer?</th>
      <th>Begin of Work</th>
      <th>End of Work</th>
      <th>Type of Work</th>
    </tr>
  </thead>

  <tbody>
    <% @supporters.each do |supporter| %>
      <tr>
        <td><%= supporter.organisation %></td>
        <td><%= supporter.name %></td>
        <td><%= supporter.family_name %></td>
        <td><%= supporter.date_of_birth %></td>
        <td><%= supporter.country %></td>
        <td><%= supporter.city %></td>
        <td><%= supporter.street %></td>
        <td><%= supporter.zipcode %></td>
        <td><%= supporter.website %></td>
        <td><%= supporter.telephone_number %></td>
        <td><%= supporter.godfather %></td>
        <td><%= supporter.is_volunteer %></td>
        <td><%= supporter.begin_of_work %></td>
        <td><%= supporter.end_of_work %></td>
        <td><%= supporter.type_of_work %></td>
        <td><%= link_to 'Show', supporter %></td>
        <td><%= link_to 'Edit', edit_supporter_path(supporter) %></td>
        <td><%= link_to 'Destroy', supporter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supporter', new_supporter_path %>
