<p id="notice"><%= notice %></p>

<p>
  <strong>Organisation:</strong>
  <%= @supporter.organisation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supporter.name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @supporter.family_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @supporter.date_of_birth %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supporter.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @supporter.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @supporter.street %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @supporter.zipcode %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @supporter.email %>
</p>

<p>
  <strong>website:</strong>
  <%= @supporter.website %>
</p>

<p>
  <strong>Telephone Number:</strong>
  <%= @supporter.telephone_number %>
</p>

<p>
  <strong>Godfather:</strong>
  <%= @supporter.godfather %>
</p>

<p>
  <strong>Is Volunteer?:</strong>
  <%= @supporter.is_volunteer %>
</p>

<p>
  <strong>Begin of Work:</strong>
  <%= @supporter.begin_of_work %>
</p>

<p>
  <strong>End of Work:</strong>
  <%= @supporter.end_of_work %>
</p>
<p>
  <strong>Type of Work:</strong>
  <%= @supporter.type_of_work %>
</p>
<%= link_to 'Edit', edit_supporter_path(@supporter) %> |
<%= link_to 'Back', supporters_path %>
