<%= form_for(@beneficiary) do |f| %>
  <% if @beneficiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beneficiary.errors.count, "error") %> prohibited this beneficiary from being saved:</h2>

      <ul>
      <% @beneficiary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <div class="span3"><%= f.label :school_name %></div>
    <div class="span9"><%= f.text_field :school_name %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :school_type %></div>
    <div class="span9"><%= f.select :school_type, ["government", "government aided", "private"]%>
    <% f.text_field :school_type %>
    </div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :school_language %></div>
    <div class="span9"><%= f.select :school_language, ["English", "Tamil"]%></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :school_class %></div>
    <div class="span9"><%= f.select :school_class, ["LKG", "UKG", 1,2,3,4,5,6,7,8,9,10,11,12, "College"]%></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :narrative_text %></div>
    <div class="span9"><%= f.text_area :narrative_text %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :godfather %></div>
    <div class="span9"><%= f.text_field :godfather %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label :status %></div>
    <div class="span9"><%= f.text_field :status %></div>
  </div>
  <div>
  <% for program in @beneficiary.programs %>
<%= f.fields_for :programs do |builder| %>
<%= builder.label :program %> <br>
lame
<%= builder.number_field :id %>
<% end %>
<% end %>
</div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
