<%= form_for(@beneficiary) do |f| %>
  <% if @beneficiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beneficiary.errors.count, "error") %> prohibited this beneficiary from being saved:</h2>

      <ul>
      <% @beneficiary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <div class="span3"><%= f.label "School name" %></div>
    <div class="span9"><%= f.text_field :school_name %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label "School type" %></div>
    <div class="span9"><%= f.select :school_type, ["government", "government aided", "private"]%>
    <% f.text_field :school_type %>
    </div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label "School language" %></div>
    <div class="span9"><%= f.select :school_language, ["English", "Tamil"]%></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label "Class" %></div>
    <div class="span9"><%= f.select :school_class, ["LKG", "UKG", 1,2,3,4,5,6,7,8,9,10,11,12, "College"]%></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label "Narrative text" %></div>
    <div class="span9"><%= f.text_area :narrative_text %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label "Godfather" %></div>
  <!-- Hier muss noch mal geschaut werden, wie man das macht, das automatisch der guardian/godfather ausgewählt wird. Eventuell Hilfstabelle !? -->
    <div class="span9"><%= f.select :godfather_id, Person.where(role_id: "4").map{|role| [role.name, role.id]} %></div>
  </div>
  <div class="field">
    <div class="span3"><%= f.label "Status" %></div>
    <div class="span9"><%= f.text_field :status %></div>
  </div>
<!--     <% for program in @beneficiary.programs %>
  <%= fields_for "beneficiary[program_attributes][]", program do |builder| %>
  <%= builder.label :program_id %>
  <%= builder.select :id, (Program.all.map {|program| [program.name, program.id]}) %><br>
  <% end %>
  <% end %> -->

 <strong>Programs</strong>
  <div class="row-fluid">
  <span class="ul">

  <% Program.all.each_slice(10) do |slice| %>
  <div class="span3">
  <% slice.each do |p| %>
    <label class="li"><%= check_box_tag :program_ids, p.id, @beneficiary.programs.include?(p), :name => 'beneficiary[program_ids][]' %> <%= p.name %></label>
    <% end %>
  </div>

  <% end %>
 
  </span>
  </div>
 
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
