<h1 class="text-center">Beneficiaries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Programs</th>
      <th>School name</th>
      <th>School type</th>
      <th>School language</th>
      <th>School class</th>
      <th>Narrative text</th>
      <th>Godfather</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beneficiaries.each do |beneficiary| %>
      <tr>
        <td><% beneficiary.programs.each do |program| %>
        <li><%= program.name %></li>
         <%  end%></td>
        <td><%= beneficiary.school_name %></td>
        <td><%= beneficiary.school_type %></td>
        <td><%= beneficiary.school_language %></td>
        <td><%= beneficiary.school_class %></td>
        <td><%= beneficiary.narrative_text %></td>
        <td><%# beneficiary.godfather["name"] %></td>
        <td><%= beneficiary.status %></td>
        <td><%= link_to (content_tag(:i, "", :class => "icon-file")), beneficiary %>
        <%= link_to (content_tag(:i, "", :class => "icon-edit")), edit_beneficiary_path(beneficiary) %>
        <%= link_to (content_tag(:i, "", :class => "icon-trash")), beneficiary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_beneficiary_path, :class => 'btn btn-primary' do %>
  <%= (content_tag(:i, "", :class => "icon-pencil")) %>
  New Beneficiary
<% end %>
