<p id="notice"><%= notice %></p>

<p>
  
  <strong>Programs:</strong>
  <% @beneficiary.programs.each do |program| %>
  <li><%= program.name %></li>
  <% end %>
</p>

<p>
  <strong>School name:</strong>
  <%= @beneficiary.school_name %>
</p>

<p>
  <strong>School type:</strong>
  <%= @beneficiary.school_type %>
</p>

<p>
  <strong>School language:</strong>
  <%= @beneficiary.school_language %>
</p>

<p>
  <strong>Class:</strong>
  <%= @beneficiary.school_class %>
</p>

<p>
  <strong>Narrative text:</strong>
  <%= @beneficiary.narrative_text %>
</p>

<p>
  <strong>Godfather:</strong>
  <%= @beneficiary.godfather %>
</p>

<p>
  <strong>Status:</strong>
  <%= @beneficiary.status %>
</p>
 <p>

  <strong>Has following Incidents</strong>
   <% @beneficiary.benefit_incidents.each do |incident| %>
  <%= link_to 'Incident', benefit_incident_path(incident) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_beneficiary_path(@beneficiary) %> |
<%= link_to 'Back', beneficiaries_path %>
