<%= form_for(@supporter) do |f| %>
  <% if @supporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supporter.errors.count, "error") %> prohibited this supporter from being saved:</h2>

      <ul>
      <% @supporter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organisation %><br>
    <%= f.text_field :organisation %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :family_name %><br>
    <%= f.text_field :family_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
    <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.number_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :telephone_number %><br>
    <%= f.number_field :telephone_number %>
  </div>
  <div class="field">
    <%= f.label :godfather %><br>
    <%= f.text_field :godfather %>
  </div>
    <div class="field">
    <%= f.label :is_volunteer %><br>
    <%= f.number_field :is_volunteer %>
  </div>
  <div class="field">
    <%= f.label :begin_of_work %><br>
    <%= f.text_field :begin_of_work %>
  </div>
    <div class="field">
    <%= f.label :end_of_work %><br>
    <%= f.number_field :end_of_work %>
  </div>
  <div class="field">
    <%= f.label :type_of_work %><br>
    <%= f.text_field :type_of_work %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
