<h1>Listing benefits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Descriptioin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @benefits.each do |benefit| %>
      <tr>
        <td><%= benefit.name %></td>
        <td><%= benefit.description %></td>
        <td><%= link_to 'Show', benefit %></td>
        <td><%= link_to 'Edit', edit_benefit_path(benefit) %></td>
        <td><%= link_to 'Destroy', benefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Benefit', new_benefit_path %>
