<h1 class="text-center">Benefits</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @benefits.each do |benefit| %>
      <tr>
        <td><%= benefit.name %></td>
        <td><%= benefit.description %></td>
        <td><%= link_to (content_tag(:i, "", :class => "icon-file")), benefit %>
        <%= link_to (content_tag(:i, "", :class => "icon-edit")), edit_benefit_path(benefit) %>
        <%= link_to (content_tag(:i, "", :class => "icon-trash")), benefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="small-12 column">
   <%= link_to "New Benefit", new_benefit_path, :class => 'button'%>
  </div>
</div>
