<%= render '/shared/overview_sidebar' %>
<div id="content">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
		<h2><%= @benefit.name %></h2>
<table class="table">
	<tr>
		<td>Descriptioin:</td>
		<td><%= @benefit.description %></td>
	</tr>

	<tr>
		<td>Total Amount Pending</td>
		<td><%= money_without_cents_and_with_symbol @total_amount_pending %></td>
	</tr>
<tr>
	<td>Total Amount Granted</td>
	<td><%= money_without_cents_and_with_symbol @total_amount_granted %></td>
</tr>
	<tr>
		<td>Belongs to Programs:</td>
		<td>
			<ul class="no-bullet">
				<% @benefit.programs.each do |program| %>
				<span class="label"><%= program.name %></li>
				<% end %>
			</ul>
		</td>
	</tr>

</table>




<div class="row">

</div>
	<table id="benefitTable" class="tablesorter">
		<thead>
			<tr>
				<th>User</th>
				<th>Program</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Date Created</th>
				<th>Date Granted</th>
			</tr>
		</thead>

		<tbody>

			<% @benefit_incidents.each do |benefit_incident| %>
			<tr>

				<td><%= link_to benefit_incident.person.name, person_path(benefit_incident.person) %></td>
				<td><%= link_to benefit_incident.program.name, program_path(benefit_incident.program) %></td>
				<td><%= money_without_cents_and_with_symbol benefit_incident.amount %></td>
				<td><%= benefit_incident.status == true ? 'Granted' : 'Pending' %></td>
				<td><%= l benefit_incident.created_at, :format => :long %></td>
				<td><%= benefit_incident.date_granted %></td>

				

			</tr>
			<% end %>
		</tbody>
	</table>

</div>

