<%= render '/shared/overview_sidebar' %>
<div id="content">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
		<h2 class="text-center"><%= @benefit.name %></h2>
		<div class="row">
		<div class="small-12 medium-12 column">
<table class="table">
	<tr>
		<th>Description:</th>
		<th>Amounts Spent On</th>
		<th>Programs</th>
	</tr>

	<tr>
		<td rowspan="3"><%= @benefit.description %></td>
		<td rowspan="3">Pending: <%= money_without_cents_and_with_symbol @total_amount_pending %><br />
		Granted: <%= money_without_cents_and_with_symbol @total_amount_granted %></td>
		<td rowspan="3">
			<% @benefit.programs.each_slice(3) do |slice| %>
			<div style="padding-bottom: 5px;">
				<% slice.each do |program| %>
					<%=link_to program.name, program_path(program), class:  "label button"%>
			<% end %>
			<br>
			</div>
			<% end %>
		</td>
	</tr>

</table>
</div>
</div>
 
<h3 class="text-center">Issued Incidents</h3>
<div class="row">

</div>
	<table id="benefitTable" class="tablesorter">
		<thead>
			<tr>
				<th>Beneficiary</th>
				<th>Program</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Date Created</th>
				<th>Date Granted</th>
			</tr>
		</thead>

		<tbody>

			<% @benefit_incidents.each do |benefit_incident| %>
			<tr>

				<td><%= link_to benefit_incident.person.name, person_path(benefit_incident.person) %></td>
				<td><%= link_to benefit_incident.program.name, program_path(benefit_incident.program) %></td>
				<td><%= money_without_cents_and_with_symbol benefit_incident.amount %></td>
				<td><%= benefit_incident.status == true ? 'Granted' : 'Pending' %></td>
				<td><%= l benefit_incident.created_at, :format => :long %></td>
				<td><%= benefit_incident.date_granted %></td>

				

			</tr>
			<% end %>
		</tbody>
	</table>

</div>

