<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @benefit.name %>
</p>

<p>
  <strong>Descriptioin:</strong>
  <%= @benefit.description %>
</p>

<%= link_to 'Edit', edit_benefit_path(@benefit) %> |
<%= link_to 'Back', benefits_path %>
